<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="subtitle is-1"><%= @category.name %></h1>
  <ul class="columns is-multiline">
    <% @category.products.each do |product| %>
      <li class="column is-one-fifth">
        <%= render partial: 'product', object: product %>
      </li>
    <% end %>
  </ul>
</div>