<div class="container">
  <h1 class="subtitle is-1">Cart</h1>
  <% if @cart.count > 0 %>
    <table class="table">
      <% @cart.each do |product| %>
        <tr>
          <th><%= product.name %></th>
          <th>$<%= product.price %></th>
          <th><%= link_to 'remove', remove_from_cart_path(product), method: :delete %></th>
        </tr>
      <% end %>
    </table>
    <%= button_to 'Checkout', new_order_path, method: :get, :class => 'button' %>
  <% else %>
    <p class="subtitle is-5">Your cart is empty</p>
  <% end %>
</div>