<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= debug session[:cart] %>

<div class="container">
  <ul class="columns is-multiline">
    <% @products.each do |product| %>
      <%= render partial: 'product', object: product %>
    <% end %>
  </ul>
  <%= paginate @products %>
</div>
