<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container">
  <ul class="columns is-multiline">
    <% @products.each do |product| %>
      <li class="column is-one-fifth">
        <%= render partial: 'product', object: product %>
      </li>
    <% end %>
  </ul>
  <%= paginate @products %>
</div>
